.text-left{
    text-align: start;
}

.hr-2{
    border-style: dashed;
    size:3px;
    background-color: #EAF6F6;
}

.save-changes-btn{
    --bs-btn-color: #fff;
    --bs-btn-bg: #f18132;
    --bs-btn-border-color: #f18132;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f18132;
    --bs-btn-hover-border-color: #f18132;
    --bs-btn-active-bg: #f18132;
    --bs-btn-active-border-color: black;
}